{% extends 'blog/base.html' %}
{% load static %}

{% block title%}
    <title>{{title}}</title>
{% endblock %}

{% block content %}

<main class="container">

<!--        CATEGORIES LIST-->
    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    <h5>Categories</h5>
                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <ul class="nav nav-pills">
                        {% for category in categories %}
                        <li class="nav-item">

                            <a class="nav-link" href="{{ category.get_absolute_url }}">{{ category.name }}</a>

                        </li>
                        {% endfor %}
<!--                          <li class="nav-item">-->
<!--                            <a class="nav-link active" aria-current="page" href="#">Active</a>-->
<!--                          </li>-->
<!--                          <li class="nav-item">-->
<!--                            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>-->
<!--                          </li>-->
                    </ul>
                </div>
            </div>
        </div>
    </div>


<!--CONTENT-->

    {% for post in posts %}
    {% if forloop.first %}
        <h1>{{ forloop.revcounter0 }} {{ user }}`s posts</h1>
    {% endif %}
        <hr>
        <article class="blog-post">
            <h2 class="blog-post-title"><a class="link-dark" href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
            <p class="blog-post-meta">{{ post.date }} by {{post.author }}</p>
            <p><span class="blog-post-meta">Categories:
                {% for category in post.category.all %}
                <a href="{{ category.get_absolute_url }}">{{ category }}</a>
                {% endfor %}
            </span></p>
            <p>{{ post.text|truncatewords:50 }}</p>
        </article>
    {% endfor %}

</main>
{% endblock %}
